In [1]:
import warnings
import numpy as np
import pandas as pd
import lightgbm as lgb_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold
warnings.filterwarnings('ignore')
import time

In [2]:
train_df = pd.read_csv('/home/altieris/datascience/data/santander-customer-transaction-prediction/train.csv')
test_df = pd.read_csv('/home/altieris/datascience/data/santander-customer-transaction-prediction/test.csv')

In [3]:
train_df.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [4]:
test_df.set_index(test_df.ID_code,inplace=True)

In [5]:
train_df.set_index(train_df.target,inplace=True)

In [6]:
best_features = pd.read_csv('best_features.csv')

In [7]:
best_train_df = train_df[best_features.Feature]

In [8]:
best_train_df.head()

,var_34,var_6,var_174,var_110,var_21,var_78,var_139,var_80,var_12,var_76,...,var_138,var_62,var_63,var_72,var_159,var_4,var_64,var_181,var_84,var_59
target,,,,,,,,,,,,,,,,,,,,,
0,11.1920,5.1187,18.5618,2.0323,16.2191,6.5199,15.6599,13.6468,14.0137,-2.3440,...,2.8279,2.0771,-0.2154,5.1999,11.5423,11.4607,8.6748,9.0164,-4.5213,10.1166
0,11.3702,5.6208,30.2645,6.6203,2.7407,5.5075,16.1622,2.5462,14.0239,3.2709,...,-1.9721,1.7944,-1.3147,3.1701,10.6261,12.3622,8.1042,9.4878,-5.4850,8.8682
0,11.0449,6.9427,25.6820,3.2304,18.1377,6.3191,8.6674,7.4729,14.1929,4.5048,...,3.8212,0.8748,5.8042,6.3577,11.6041,10.5825,3.7163,9.3908,5.4604,9.1854
0,10.6093,5.8428,14.7483,4.2827,12.5579,4.0806,8.9821,0.7839,13.8463,11.6875,...,-2.8233,3.4418,-4.3923,1.2516,12.3892,12.5846,8.6464,8.4117,1.6027,9.4638
0,12.4057,5.9405,18.4685,-0.1937,18.9608,7.1734,13.9547,2.9598,13.8481,1.0273,...,2.6791,-0.4952,-1.7839,-0.7264,8.0913,12.2772,5.2670,9.7685,7.8984,9.2048

In [9]:
best_test_df = test_df[best_features.Feature]

In [10]:
best_test_df.head()

,var_34,var_6,var_174,var_110,var_21,var_78,var_139,var_80,var_12,var_76,...,var_138,var_62,var_63,var_72,var_159,var_4,var_64,var_181,var_84,var_59
ID_code,,,,,,,,,,,,,,,,,,,,,
test_0,11.3334,5.8493,18.1317,3.7662,18.8064,3.1192,-2.5502,9.4883,13.9696,7.3075,...,-6.5226,-0.7706,0.8705,-4.7906,11.0067,11.4327,6.9282,10.3903,-0.9706,9.3269
test_1,10.6361,6.0196,10.5018,1.7375,3.1389,6.3755,6.7530,1.9772,14.1129,6.9388,...,3.6129,1.3382,-1.7401,-0.7772,14.2058,9.1974,5.8398,12.0030,-11.5679,9.5249
test_2,11.9593,4.8950,27.4035,8.6896,12.3696,7.6587,-6.0452,16.1691,13.6751,-9.7077,...,10.5031,2.8117,2.5996,0.8459,10.4597,10.2628,9.0986,8.5549,-0.2830,8.5160
test_3,10.8047,4.9397,14.5499,10.3445,12.5527,5.5060,12.7898,17.5941,14.0526,12.5465,...,-2.9322,0.7928,2.5301,-2.5463,14.6118,8.8458,8.1458,9.8243,4.0357,10.0413
test_4,11.8668,6.8595,14.0037,6.3933,16.3059,6.1573,11.7989,11.8133,14.1013,8.1522,...,-4.6175,-0.0337,5.6603,-0.9113,14.5259,9.1035,6.2529,10.3559,0.0306,8.7003

In [11]:
features = [c for c in best_train_df]

for i in range(0,len(features)-1):
    best_train_df[features[i]+'_minus_'+features[i+1]] = best_train_df.iloc[:,i] - best_train_df.iloc[:,i+1]
    best_train_df[features[i]+'_plus_'+features[i+1]] = best_train_df.iloc[:,i] + best_train_df.iloc[:,i+1]
    best_train_df[features[i]+'_pow_'+features[i+1]] = best_train_df.iloc[:,i] * best_train_df.iloc[:,i+1]
    best_train_df[features[i+1]+'_minus_'+features[i]] = best_train_df.iloc[:,i+1] - best_train_df.iloc[:,i]

In [12]:
best_train_df.head()

,var_34,var_6,var_174,var_110,var_21,var_78,var_139,var_80,var_12,var_76,...,var_64_pow_var_181,var_181_minus_var_64,var_181_minus_var_84,var_181_plus_var_84,var_181_pow_var_84,var_84_minus_var_181,var_84_minus_var_59,var_84_plus_var_59,var_84_pow_var_59,var_59_minus_var_84
target,,,,,,,,,,,,,,,,,,,,,
0,11.1920,5.1187,18.5618,2.0323,16.2191,6.5199,15.6599,13.6468,14.0137,-2.3440,...,78.215467,0.3416,13.5377,4.4951,-40.765849,-13.5377,-14.6379,5.5953,-45.740184,14.6379
0,11.3702,5.6208,30.2645,6.6203,2.7407,5.5075,16.1622,2.5462,14.0239,3.2709,...,76.891029,1.3836,14.9728,4.0028,-52.040583,-14.9728,-14.3532,3.3832,-48.642077,14.3532
0,11.0449,6.9427,25.6820,3.2304,18.1377,6.3191,8.6674,7.4729,14.1929,4.5048,...,34.899030,5.6745,3.9304,14.8512,51.277524,-3.9304,-3.7250,14.6458,50.155958,3.7250
0,10.6093,5.8428,14.7483,4.2827,12.5579,4.0806,8.9821,0.7839,13.8463,11.6875,...,72.730923,-0.2347,6.8090,10.0144,13.481432,-6.8090,-7.8611,11.0665,15.167632,7.8611
0,12.4057,5.9405,18.4685,-0.1937,18.9608,7.1734,13.9547,2.9598,13.8481,1.0273,...,51.450690,4.5015,1.8701,17.6669,77.155520,-1.8701,-1.3064,17.1032,72.703192,1.3064

In [13]:
features = [c for c in best_test_df]

for i in range(0,len(features)-1):
    best_test_df[features[i]+'_minus_'+features[i+1]] = best_test_df.iloc[:,i] - best_test_df.iloc[:,i+1]
    best_test_df[features[i]+'_plus_'+features[i+1]] = best_test_df.iloc[:,i] + best_test_df.iloc[:,i+1]
    best_test_df[features[i]+'_pow_'+features[i+1]] = best_test_df.iloc[:,i] * best_test_df.iloc[:,i+1]
    best_test_df[features[i+1]+'_minus_'+features[i]] = best_test_df.iloc[:,i+1] - best_test_df.iloc[:,i]

In [14]:
best_test_df.head()

,var_34,var_6,var_174,var_110,var_21,var_78,var_139,var_80,var_12,var_76,...,var_64_pow_var_181,var_181_minus_var_64,var_181_minus_var_84,var_181_plus_var_84,var_181_pow_var_84,var_84_minus_var_181,var_84_minus_var_59,var_84_plus_var_59,var_84_pow_var_59,var_59_minus_var_84
ID_code,,,,,,,,,,,,,,,,,,,,,
test_0,11.3334,5.8493,18.1317,3.7662,18.8064,3.1192,-2.5502,9.4883,13.9696,7.3075,...,71.986076,3.4621,11.3609,9.4197,-10.084825,-11.3609,-10.2975,8.3563,-9.052689,10.2975
test_1,10.6361,6.0196,10.5018,1.7375,3.1389,6.3755,6.7530,1.9772,14.1129,6.9388,...,70.095119,6.1632,23.5709,0.4351,-138.849504,-23.5709,-21.0928,-2.0430,-110.183091,21.0928
test_2,11.9593,4.8950,27.4035,8.6896,12.3696,7.6587,-6.0452,16.1691,13.6751,-9.7077,...,77.837613,-0.5437,8.8379,8.2719,-2.421037,-8.8379,-8.7990,8.2330,-2.410028,8.7990
test_3,10.8047,4.9397,14.5499,10.3445,12.5527,5.5060,12.7898,17.5941,14.0526,12.5465,...,80.026783,1.6785,5.7886,13.8600,39.647928,-5.7886,-6.0056,14.0770,40.523674,6.0056
test_4,11.8668,6.8595,14.0037,6.3933,16.3059,6.1573,11.7989,11.8133,14.1013,8.1522,...,64.754407,4.1030,10.3253,10.3865,0.316891,-10.3253,-8.6697,8.7309,0.266229,8.6697

In [15]:
best_train_df.reset_index(inplace=True)

In [16]:
best_train_df.head()

,target,var_34,var_6,var_174,var_110,var_21,var_78,var_139,var_80,var_12,...,var_64_pow_var_181,var_181_minus_var_64,var_181_minus_var_84,var_181_plus_var_84,var_181_pow_var_84,var_84_minus_var_181,var_84_minus_var_59,var_84_plus_var_59,var_84_pow_var_59,var_59_minus_var_84
0,0,11.1920,5.1187,18.5618,2.0323,16.2191,6.5199,15.6599,13.6468,14.0137,...,78.215467,0.3416,13.5377,4.4951,-40.765849,-13.5377,-14.6379,5.5953,-45.740184,14.6379
1,0,11.3702,5.6208,30.2645,6.6203,2.7407,5.5075,16.1622,2.5462,14.0239,...,76.891029,1.3836,14.9728,4.0028,-52.040583,-14.9728,-14.3532,3.3832,-48.642077,14.3532
2,0,11.0449,6.9427,25.6820,3.2304,18.1377,6.3191,8.6674,7.4729,14.1929,...,34.899030,5.6745,3.9304,14.8512,51.277524,-3.9304,-3.7250,14.6458,50.155958,3.7250
3,0,10.6093,5.8428,14.7483,4.2827,12.5579,4.0806,8.9821,0.7839,13.8463,...,72.730923,-0.2347,6.8090,10.0144,13.481432,-6.8090,-7.8611,11.0665,15.167632,7.8611
4,0,12.4057,5.9405,18.4685,-0.1937,18.9608,7.1734,13.9547,2.9598,13.8481,...,51.450690,4.5015,1.8701,17.6669,77.155520,-1.8701,-1.3064,17.1032,72.703192,1.3064

In [17]:
best_test_df.reset_index(inplace=True)

In [18]:
best_test_df.head()

,ID_code,var_34,var_6,var_174,var_110,var_21,var_78,var_139,var_80,var_12,...,var_64_pow_var_181,var_181_minus_var_64,var_181_minus_var_84,var_181_plus_var_84,var_181_pow_var_84,var_84_minus_var_181,var_84_minus_var_59,var_84_plus_var_59,var_84_pow_var_59,var_59_minus_var_84
0,test_0,11.3334,5.8493,18.1317,3.7662,18.8064,3.1192,-2.5502,9.4883,13.9696,...,71.986076,3.4621,11.3609,9.4197,-10.084825,-11.3609,-10.2975,8.3563,-9.052689,10.2975
1,test_1,10.6361,6.0196,10.5018,1.7375,3.1389,6.3755,6.7530,1.9772,14.1129,...,70.095119,6.1632,23.5709,0.4351,-138.849504,-23.5709,-21.0928,-2.0430,-110.183091,21.0928
2,test_2,11.9593,4.8950,27.4035,8.6896,12.3696,7.6587,-6.0452,16.1691,13.6751,...,77.837613,-0.5437,8.8379,8.2719,-2.421037,-8.8379,-8.7990,8.2330,-2.410028,8.7990
3,test_3,10.8047,4.9397,14.5499,10.3445,12.5527,5.5060,12.7898,17.5941,14.0526,...,80.026783,1.6785,5.7886,13.8600,39.647928,-5.7886,-6.0056,14.0770,40.523674,6.0056
4,test_4,11.8668,6.8595,14.0037,6.3933,16.3059,6.1573,11.7989,11.8133,14.1013,...,64.754407,4.1030,10.3253,10.3865,0.316891,-10.3253,-8.6697,8.7309,0.266229,8.6697

In [ ]:
# best_train_df.to_csv('best_train.csv',index=False)
# best_test_df.to_csv('best_test.csv',index=False)

In [40]:
param = {
    'bagging_freq': 2,          
    'bagging_fraction': 0.32,   
    'boost_from_average':'false',   
    'boost': 'gbdt',
    'feature_fraction': 0.03,   
    'learning_rate': 0.007,     
    'max_depth': -1,                
    'metric':'auc',
    'min_data_in_leaf': 60,     
    'min_sum_hessian_in_leaf': 6.0,
    'num_leaves': 3,           
    'num_threads': 8,
    'tree_learner': 'serial',   
    'objective': 'binary',   
    'verbosity': 1
}

In [41]:
features = [c for c in best_train_df.columns if c not in ['ID_code', 'target']]
target = best_train_df['target']

In [42]:
def run_model(folds,trdf,target,tedf,num_round,verbose_eval,early_stopping_rounds):
    
    oof = np.zeros(len(trdf))
    predictions = np.zeros(len(tedf))
    features = [c for c in trdf.columns]

    for fold_, (trn_idx, val_idx) in enumerate(folds.split(trdf.values, target.values)):
        print('Fold', fold_, 'started at', time.ctime())
        
        
        trn_data = lgb_model.Dataset(trdf.iloc[trn_idx][features], label=target.iloc[trn_idx])
        val_data = lgb_model.Dataset(trdf.iloc[val_idx][features], label=target.iloc[val_idx])
    
        clf = lgb_model.train(param, trn_data, num_round, valid_sets = [trn_data, val_data], verbose_eval=verbose_eval, early_stopping_rounds = early_stopping_rounds)
    
        oof[val_idx] = clf.predict(trdf.iloc[val_idx][features], num_iteration=clf.best_iteration)
        predictions += clf.predict(tedf[features], num_iteration=clf.best_iteration) / folds.n_splits
    
        feature_importance_df = pd.DataFrame()
        fold_importance_df = pd.DataFrame()
        fold_importance_df["Feature"] = features
        fold_importance_df["importance"] = clf.feature_importance()
        fold_importance_df["fold"] = fold_ + 1
        feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    
    print("CV score: {:<8.5f}".format(roc_auc_score(target, oof)))
    return clf,predictions,feature_importance_df

In [ ]:
num_round = 100000
verbose_eval=1000
early_stopping_rounds=3500
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=44000)
clf,predictions,feature_importance_df = run_model(folds,best_train_df[features],target,best_test_df,num_round,verbose_eval,early_stopping_rounds)

Fold 0 started at Fri Mar 15 00:51:06 2019
Training until validation scores don't improve for 3500 rounds.
[1000]	training's auc: 0.816827	valid_1's auc: 0.820212
[2000]	training's auc: 0.846244	valid_1's auc: 0.849216
[3000]	training's auc: 0.8626	valid_1's auc: 0.8649
[4000]	training's auc: 0.873259	valid_1's auc: 0.875069
[5000]	training's auc: 0.880217	valid_1's auc: 0.881427
[6000]	training's auc: 0.885415	valid_1's auc: 0.886089
[7000]	training's auc: 0.889388	valid_1's auc: 0.889333
[8000]	training's auc: 0.892419	valid_1's auc: 0.892053
[9000]	training's auc: 0.894922	valid_1's auc: 0.894097
[10000]	training's auc: 0.896947	valid_1's auc: 0.895844
[11000]	training's auc: 0.898723	valid_1's auc: 0.897268
[12000]	training's auc: 0.900283	valid_1's auc: 0.89843
[13000]	training's auc: 0.901563	valid_1's auc: 0.89938
[14000]	training's auc: 0.902723	valid_1's auc: 0.900108
[15000]	training's auc: 0.903743	valid_1's auc: 0.900769
[16000]	training's auc: 0.904702	valid_1's auc: 0.901396
[17000]	training's auc: 0.905565	valid_1's auc: 0.901873
[18000]	training's auc: 0.906405	valid_1's auc: 0.902306
[19000]	training's auc: 0.907178	valid_1's auc: 0.902614
[20000]	training's auc: 0.907957	valid_1's auc: 0.903024
[21000]	training's auc: 0.908651	valid_1's auc: 0.903298
[22000]	training's auc: 0.909362	valid_1's auc: 0.903426
[23000]	training's auc: 0.910026	valid_1's auc: 0.903665
[24000]	training's auc: 0.910672	valid_1's auc: 0.903871
[25000]	training's auc: 0.911327	valid_1's auc: 0.903995
[26000]	training's auc: 0.911937	valid_1's auc: 0.904083
[27000]	training's auc: 0.912535	valid_1's auc: 0.904171
[28000]	training's auc: 0.913145	valid_1's auc: 0.904264
[29000]	training's auc: 0.91371	valid_1's auc: 0.904351
[30000]	training's auc: 0.914275	valid_1's auc: 0.904423
[31000]	training's auc: 0.914848	valid_1's auc: 0.904506
[32000]	training's auc: 0.915395	valid_1's auc: 0.904607
[33000]	training's auc: 0.915943	valid_1's auc: 0.90466
[34000]	training's auc: 0.916499	valid_1's auc: 0.904625
[35000]	training's auc: 0.917029	valid_1's auc: 0.904728
[36000]	training's auc: 0.917555	valid_1's auc: 0.904724
[37000]	training's auc: 0.918071	valid_1's auc: 0.90472

In [ ]:
cols = (feature_importance_df[["Feature", "importance"]]
        .groupby("Feature")
        .mean()
        .sort_values(by="importance", ascending=False)[:200].index)

best_features_sint = feature_importance_df.loc[feature_importance_df.Feature.isin(cols)]

In [ ]:
save_best = best_features_sint.sort_values(by="importance",ascending=False)
save_best.to_csv('best_features_plus.csv',index=False)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(14,28))
sns.barplot(x="importance", y="Feature", data=best_features_sint.sort_values(by="importance",ascending=False))
plt.title('Features importance (averaged/folds)')
plt.tight_layout()
plt.show()

In [ ]:
sub = pd.DataFrame({"ID_code": test_df.ID_code.values})
sub["target"] = predictions
sub.to_csv("submission.csv", index=False)